@import '../../styles.scss';
@import '../../fonts.scss';

//Desktop format
@media screen and (min-width: 900px) {
    .user_card {
        width: 23%;
        position: fixed;
        left: 76%;
        top: 12%;
    }
}

//Mobile format
@media screen and (max-width: 900px) {
    .user_card{
        padding-bottom: 15px;
    }
}

.tab {
    mat-card-content {
        background-color: $secondaryColor;
        h2{
            @include contentFont(25px);
        }
    }
}

.post_card {
    padding-top: 15px;
}

.final{
    padding-top: 15px;
    padding-bottom: 15px;
}