@import '../../styles.scss';
@import '../../fonts.scss';

.tab {
    mat-card-content {
        background-color: $secondaryColor;
        h2{
            @include contentFont(25px);
        }
    }
}

.post_card {
    padding-top: 15px;
}

.user_card {
    width: 23%;
    position: fixed;
    left: 76%;
    top: 12%;
}