<div *ngIf="user?.user_follow!=null" class="tab">
    <mat-card>
        <mat-card-content>
            <h2 *ngIf="MyUser; else elseBlock">My Posts</h2>
            <ng-template #elseBlock>
                <h2> {{username}} Posts</h2>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="final == false" [alwaysCallback]="true" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" infinite-scroll (scrolled)="reloadPosts()"></div>
<div *ngFor="let possit of posts" class="post_card">
    <app-post-card [post]="possit"></app-post-card>
</div>
<div *ngIf="final" class="final">
    <app-post-final></app-post-final>
</div>

<div *ngIf="nada" class="final">
    <app-post-cero [message]="message"></app-post-cero>
</div>

<div *ngIf="user?.user_follow!=null" class="user_card">
    <app-user-card [MyUser]="MyUser" [Following]="user?.user_follow" [username]="username" [profile_picture]="profile_picture" [firstName]="user?.firstName" [lastName]="user?.lastName" [followers]="user?.followers" [followings]="user?.followings"></app-user-card>
</div>