<div class="tab">
    <mat-card>
        <mat-card-content>New Stuff</mat-card-content>
    </mat-card>
</div>
<div *ngIf="final == false" [alwaysCallback]="true" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" infinite-scroll (scrolled)="reloadPosts()"></div>
<div *ngFor="let possit of posts" class="post_card">
    <app-post-card [post]="possit"></app-post-card>
</div>
<div *ngIf="final" class="final">
    <app-post-final></app-post-final>
</div>

<div *ngIf="nada" class="final">
    <app-post-cero [message]="message"></app-post-cero>
</div>

<!-- <div>
    <button (click)="reloadPosts()">Show more</button>
</div> -->
<button (click)="redirectCreatePost()" class="button_create" mat-fab>
    <span class="material-symbols-outlined">add</span>
</button>
<div class="create_post">
    <app-create-post></app-create-post>
</div>