@import '../../styles.scss';
@import '../../fonts.scss';

.container{
    // margin: auto;
    // width: 40%;
    display: grid;
    grid-template-columns: auto 50% auto;
}

app-post-card{
    border-radius: 20%;
}