@import '../../styles.scss';
@import '../../fonts.scss';

//Desktop format
@media screen and (min-width: 900px) {
    .create_post {
        width: 25%;
        position: fixed;
        left: 75%;
        top: 40%;
    }

    .button_create{
        display: none;
    }
}

//Mobile format
@media screen and (max-width: 900px) {
    .create_post {
        display: none
    }

    .button_create{
        position: fixed;
        left: 84%;
        top: 86%;
        background-color: $secondaryColor;
        span{
            font-size: 40px;
            color: black;
        }
    }
}

.tab {
    @include contentFont(25px);
    padding-top: 15px;

    mat-card-content {
        background-color: $primaryDarkColor;
    }
}

.post_card {
    padding-top: 15px;
}

.final{
    padding-top: 15px;
    padding-bottom: 15px;
}