<app-post-card [post]="this.post_content"></app-post-card>

<div class="tab">
    <mat-card>
        <mat-card-content>Comments</mat-card-content>
    </mat-card>
</div>

<div *ngFor="let comment of comments" class="post_card">
    <app-post-card [post]="comment" [isComment]="true"></app-post-card>
</div>

<div *ngIf="nada" class="final">
    <app-post-cero [message]="message"></app-post-cero>
</div>

<div class="create_post">
    <app-create-post [comment_id]="this.id"></app-create-post>
</div>