<div class="tab">
    <mat-card>
        <mat-card-content>Edit user profile</mat-card-content>
    </mat-card>
</div>
<div class="user_profile">
    <mat-card class="example-card">
        <mat-card-content>
            <form (ngSubmit)="submitUserProfile()" [formGroup]="formUserProfile">
                <div class="grid1">
                    <label for="username">Username</label>
                    <input type="text" placeholder="{{username}}" class="form-control" formControlName="username">
                </div>
                <div class="grid2">
                    <div>
                        <label for="firstName">First name</label>
                        <input type="text" placeholder="{{firstName}}" class="form-control" formControlName="firstName">
                    </div>
                    <div>
                        <label for="lastName">Last name</label>
                        <input type="text" placeholder="{{lastName}}" class="form-control" formControlName="lastName">
                    </div>
                </div>
                <div class="grid1">
                    <label for="email">Email</label>
                    <input type="text" placeholder="{{email}}" class="form-control" formControlName="email">
                </div>
                <div class="grid2">
                    <div>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div>
                        <label for="c_password">Repeat password</label>
                        <input type="password" class="form-control" formControlName="c_password">
                    </div>
                </div>
                <div class="grid1">
                    <button mat-button class="buttonOk" type="submit">Change</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<div class="tab">
    <mat-card>
        <mat-card-content>Edit profile picture</mat-card-content>
    </mat-card>
</div>
<div class="profile_picture">
    <mat-card class="example-card">
        <mat-card-content>
            <form (ngSubmit)="submitProfilePicture()" [formGroup]="formProfilePicture">
                <div class="grid1">
                    <div class="div_label_file">
                        <label role="button" type="button" for="file" class="label_file">
                            <span class="material-symbols-outlined">touch_app</span>
                            Choose files</label>
                    </div>
                    <input id="file" accept="image/*" type="file" (change)="fileEvent($event)" class="form-control" formControlName="profile_picture">
                    <img id="img" *ngIf="imagePreview && imagePreview !== ''" [src]="imagePreview">
                    <button mat-button class="buttonOk" type="submit">Change</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<div class="grid1">
    <button mat-button (click)="deleteUser()" class="buttonDelete" type="submit">Delete account</button>
</div>