<div class="modal">
    <h2 *ngIf="good==false; else elseBlock">
        <span class="material-symbols-outlined">error</span>Error
    </h2>
    <ng-template #elseBlock>
        <h2>
            <span class="good material-symbols-outlined">check_circle</span>Success
        </h2>
    </ng-template>
    <div>
        <p>{{ data.message }}</p>
    </div>
    <div [ngClass]="{'grid1':action==null,'grid2':action!=null}">
        <button class="buttonAction" *ngIf="action!=null" mat-mini-fab (click)="pressAction()"><span class="material-symbols-outlined">repeat</span></button>
        <button class="buttonClose" mat-mini-fab (click)="close()"><span class="material-symbols-outlined">close</span></button>
    </div>
</div>