@import '../../styles.scss';
@import '../../fonts.scss';

//Desktop format
@media screen and (min-width: 900px) {
    mat-card {
        @include contentFont(25px);
        mat-card-content {
            background-color: $primaryColor;
        }
    }
    
    .button_mobile{
        display: none;
    }
}

//Mobile format
@media screen and (max-width: 900px) {
    mat-card{
        display: none;
    }

    .button_mobile{
        button{
            width: 100%
        }
    }
}

button{
    @include titleFont(20px);
    background-color: $secondaryColor;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}