<div class="login">
    <mat-card class="example-card">
        <mat-card-content>
            <form (ngSubmit)="submit()" [formGroup]="formLogin">
                <div class="grid1">
                    <h2>Login</h2>
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" required>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" required>
                    <button class="button1" type="submit">Sign in</button>
                    <p>Don't have an account?</p>
                    <button class="button2" (click)="redirectRegister()">Sign up</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>