@import '../../styles.scss';
@import '../../fonts.scss';

//Desktop format
@media screen and (min-width: 900px) {
    .create_post {
        width: 25%;
        position: fixed;
        left: 75%;
        top: 40%;
    }
}

//Mobile format
@media screen and (max-width: 900px) {
    .create_post {
        display: none
    }
}

.tab {
    @include contentFont(25px);

    mat-card-content {
        background-color: $secondaryColor;
    }
}

.post_card {
    padding-top: 15px;
}

.final{
    padding-top: 15px;
    padding-bottom: 15px;
}