<div class="tab">
    <mat-card>
        <mat-card-content>Edit user profile</mat-card-content>
    </mat-card>
</div>
<div class="user_profile">
    <mat-card class="example-card">
        <mat-card-content>
            <form (ngSubmit)="submitUserProfile()" [formGroup]="formUserProfile">
                <div class="grid1">
                    <label for="username">Username</label>
                    <input type="text" placeholder="{{username}}" class="form-control" formControlName="username">
                </div>
                <div class="grid2">
                    <div>
                        <label for="firstName">First name</label>
                        <input type="text" placeholder="{{firstName}}" class="form-control" formControlName="firstName">
                    </div>
                    <div>
                        <label for="lastName">Last name</label>
                        <input type="text" placeholder="{{lastName}}" class="form-control" formControlName="lastName">
                    </div>
                </div>
                <div class="grid1">
                    <label for="email">Email</label>
                    <input type="text" placeholder="{{email}}" class="form-control" formControlName="email"
                    [ngClass]="{ 'incorrect': this.formUserProfile.get('email')?.errors?.['email'] }">
                    <span *ngIf="this.formUserProfile.get('email')?.errors?.['email']">(Email must have correct format)</span>
                </div>
                <div class="grid2">
                    <div>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{ 'incorrect': this.formUserProfile.get('password')?.errors?.['minlength'] }">
                        <span *ngIf="this.formUserProfile.get('password')?.errors?.['minlength']">(Password must be at least 8 characters long)</span>
                    </div>
                    <div>
                        <label for="c_password">Repeat password</label>
                        <input type="password" class="form-control" formControlName="c_password"
                        [ngClass]="{ 'incorrect': this.formUserProfile.errors?.['samePassword'] }">
                        <span *ngIf="this.formUserProfile.errors?.['samePassword']">(Passwords must math)</span>
                    </div>
                </div>
                <div class="grid1">
                    <button mat-button class="buttonOk" type="submit">Change</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
