<nav>
    <mat-toolbar>
        <span>
            <img src="../../assets/imgs/PlayxLogo.png">
        </span>
        <span>
            <br>
            <h1>Playx</h1>
        </span>
        <span class="example-spacer"></span>
        <span>
            <form class="example-form">
                <input aria-label="State" (keyup.enter)="goToProfile()" [(ngModel)]="search_value" [matAutocomplete]="auto" [formControl]="myControl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let user of filteredOptions | async" [value]="user.username">
                        <img id="user_profile" [src]="user.profile_picture">
                        <span>{{user.username}}</span>
                    </mat-option>
                </mat-autocomplete>
            </form>
        </span>
        <span (click)="goMyProfile()">
            <img id="my_user_profile" [src]="profile">
        </span>
        <span>
            <p>{{username}}</p>
        </span>
    </mat-toolbar>
</nav>