@import '../../styles.scss';
@import '../../fonts.scss';

.mat-toolbar {
    background-color: $primaryDarkColor;
    height: 7%;

    img{
        width: 100px;
        height: 100%;
    }

    h1 {
        @include titleFont(40px);
        padding-right: 80px;
    }

    .example-spacer {
        flex: 1 1 auto;
      }

    #user_profile{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
}