<mat-card class="example-card">
  <mat-card-header>
    <div (click)="goProfile()" mat-card-avatar>
      <img id="user_profile" [src]="post?.profile_picture">
    </div>
    <mat-card-title>{{post?.username}}</mat-card-title>
    <mat-card-subtitle>{{post?.created_at}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <a href='post/{{post?.id}}'>
      <p>
        {{post?.post}}
      </p>
      <div *ngIf="post?.file_name!=null" class="div_post_image">
        <img mat-card-image id="post_image" [src]="post?.file_name">
      </div>
    </a>
      <div *ngIf="post?.comment_id!=null && isComment==false" class="div_post_comment">
        <app-post-card [post]="comment_post" [isComment]="true"></app-post-card>
        <div (click)="redirectCommented()" class="transparency"></div>
      </div>
  </mat-card-content>
</mat-card>