@import '../../styles.scss';
@import '../../fonts.scss';

mat-card{
    border-radius: 5px;
    mat-card-header{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: $primaryColor;
        mat-card-title{
            @include titleFont(25px);
        }
        mat-card-subtitle{
            @include contentFont(12px);
        }
    }
    mat-card-content{
        padding-top: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $secondaryLigthColor;
        @include contentFont(16px);
    }
}

#user_profile{
    width: 110%;
    height: 110%;
    border-radius: 50%;
}

#post_image{
    width: 100%;
}