<mat-card class="example-card">
  <mat-card-header>
    <div (click)="goProfile()" mat-card-avatar>
      <img id="user_profile" [src]="profile_picture">
    </div>
    <mat-card-title>{{username}}</mat-card-title>
    <mat-card-subtitle>{{created_at}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{post}}
    </p>
    <div class="div_post_image">
      <img mat-card-image id="post_image" *ngIf="file_name!=null" [src]="image">
    </div>
  </mat-card-content>
</mat-card>