@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');

$titleFont: 'Lora', serif;

@mixin logoFont(){
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
}

@mixin titleFont($size){
    font-family: 'Lora', serif;
    font-size: $size;
}

@mixin contentFont($size){
    font-family: 'Carlito', sans-serif;
    font-size: $size;
}