/* You can add global styles to this file, and also import other style files */
$primaryColor: #3DAEFF;
$primaryLigthColor: #91D0FF;
$primaryDarkColor: #0692F1;

$secondaryColor: #FEC92A;
$secondaryLigthColor: #FFE083;
$secondaryDarkColor: #FEB207;

$errorColor: #FF5449;
$successColor: greenyellow;

$textColor: #000000;
$bgColor: #FFFFFF;

html{ background-color: $primaryLigthColor;}