<div class="enlaces">
    <a class="home" routerLink="home" routerLinkActive="active-link">
        <span class="icons material-symbols-outlined">home</span>
    </a>
    <a class="follows" routerLink="follows" routerLinkActive="active-link">
        <span class="icons material-symbols-outlined">group</span>
    </a>
    <a class="notis" tabindex="0" (keypress)="getNotifications()" (click)="getNotifications()" [matMenuTriggerFor]="menu">
        <span matBadge="{{not_seen}}" matBadgeSize="medium" class="icons material-symbols-outlined">notifications</span>
    </a>
    <mat-menu #menu xPosition="after">
        <div *ngIf="notifications!=null; else elseBlock">
            <div class="notifications" *ngFor="let noti of notifications">
                <button (click)="seeing_redirect(noti.username, noti.id)" mat-menu-item>
                    <app-notification-card [noti]="noti"></app-notification-card>
                </button>
            </div>
            <button class="reload" *ngIf="final == false" (click)="reloadNotifications()">See more</button>
        </div>
        <ng-template #elseBlock>
            <p>You don´t have notifications</p>
        </ng-template>
    </mat-menu>
    <a class="search" routerLink="search" routerLinkActive="active-link">
        <span class="icons material-symbols-outlined">search</span>
    </a>
</div>